recursive-include src *.pxd
recursive-include src *.pyx
include LICENSE*
include *.md
include *.toml
include *.txt
include ChangeLog
recursive-include docs *.rst
recursive-include programs *.py
recursive-include requirements *.in
recursive-include requirements *.txt
recursive-include scripts *.sh
recursive-include tests *.pem
recursive-include tests *.py
