[tool.black]
line-length = 79
target-version = ['py36', 'py37', 'py38']

[tool.coverage.report]
exclude_lines = [
  'pragma: no cover',
  'def __repr__',
  'raise MemoryError()',
  'raise NotImplementedError',
  'free(\w)',
]
include = ['src/*']

[tool.coverage.run]
plugins = ['Cython.Coverage']

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 79

[tool.pylint.master]
extension-pkg-whitelist='mbedtls'

[tool.pylint.messages_control]
disable = "C0103, C0326, C0330"

[tool.pylint.similarities]
ignore-comments = "yes"
ignore-docstrings = "yes"
min-similarity-lines = "8"
